.btn {
  background-color: black;
  border: solid 1px rgb(67, 235, 52);
  color: rgb(67, 235, 52);
  padding: 10px 20px;
  transition: 0.2s;
  display: inline-block;

}
.btn:hover {
  background-color: rgb(67, 235, 52);
  border: solid 1px black;
  color: black;
  padding: 10px 20px;
}
