.cards {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  border: solid 1px rgb(67, 235, 52);
  box-shadow: 0 0 10px rgb(67, 235, 52);;
  max-width: 250px;
  padding: 30px;
  margin: 20px 0;
  min-height: 380px;
}
.card img {
  height: 70px;
}
